.certificate_view_download-options {
  position: relative;
  display: inline-block;
}

.certificate_view_download-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.certificate_view_download-button:hover {
  background-color: #45a049;
}

.certificate_view_dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}

.certificate_view_download-options:hover .certificate_view_dropdown-content {
  display: block;
}

.certificate_view_dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
}

.certificate_view_dropdown-content button:hover {
  background-color: #ddd;
}
